<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/admin/ebd/relatorios"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-3">
    <div class="py-2 text-center">
      <h2>Presenças</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group">
            <input type="date" class="form-control" id="diadeaula_relatorio" value="<%=dia%>" name="diadeaula" required>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btnDataAula">Pesquisar</button>
            </div>
        </div>
    </div>
  </div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Sala</th>
        <!-- <th scope="col">Matriculados</th> -->
        <th scope="col" class="text-center">Pre.</th>
        <th scope="col" class="text-center">Aus.</th>
        <th scope="col" class="text-center">Vis.</th>
        <th scope="col" class="text-center">Tot.</th>
      </tr>
    </thead>
    <tbody>
      <%if(relatorio_presenca.length > 0){%>
        <%for(var row in relatorio_presenca){%>
          <%if(relatorio_presenca[row].sala != ''){%>
            <tr>
              <td><%=relatorio_presenca[row].sala%></td>
              <td class="text-center"><%=relatorio_presenca[row].pre%></td>
              <td class="text-center"><%=relatorio_presenca[row].aus%></td>
              <td class="text-center"><%=relatorio_presenca[row].vis%></td>
              <td class="text-center"><%=relatorio_presenca[row].tot%></td>
            </tr>
          <%}%>
        <%}%>
        <%}else{%>
          <tr>
            <td>Nenhum dado encontrado</td>
          </tr>
        <%}%>
      <!-- <tr>
        <td>Jesis em tua presença</td>
        <td>000</td>
        <td>000</td>
        <td>000</td>
        <td>000</td>
      </tr> -->
    </tbody>
  </table>
  <% include ./share/footer.ejs %>