<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/cadastros"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-3">
    <div class="py-2 text-center">
      <h2>Cadastro de Matrículas</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<% include ./share/msg.ejs %>
<form class="needs-validation" novalidate id="formMatricula" method="POST" action="/matriculas">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="saladeaulaId">Sala de Aula:</label>
      <select class="custom-select d-block w-100" name="saladeaulaId" id="saladeaulaId" required>
        <option value="">Escolha uma opção...</option>
        <%for(var row in data.saladeaula){%>
        <option value="<%=data.saladeaula[row].id%>">
          <%=data.saladeaula[row].saladeaula%>
        </option>
        <%}%>
      </select>
      <div class="invalid-feedback">
        Escolha a sala de aula.
      </div>
    </div>
    <div class="col-md-6 mb-3">
        <label for="saladeaulaId">Nome para pesquisa:</label>
        <input type="text" class="form-control" name="pesquisaMatriculas" id="pesquisaMatriculas" placeholder="Informe o nome para a pesquisa...">        
      </div>
    <div class="col-md-12 mb-3">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" width="75%">Nome</th>
            <th scope="col" width="15%">Tipo de membro</th>
            <th scope="col" width="10%">Matriculado</th>
          </tr>
        </thead>

        <tbody id="matriculasTable">
          <!-- <%for(var row in data.membros){%>
              <tr>
                <td class="align-middle">
                  <%=data.membros[row].nome%>
                </td>
                <td class="align-middle">
                  <label class="switch">
                    <input type="checkbox" name="<%=data.membros[row].id%>" id="<%=data.membros[row].id%>" value="0">
                    <span class="slider round"></span>
                  </label>
                </td>
              </tr>
              <%}%> -->
        </tbody>
      </table>
    </div>
  </div>


  <hr class="mb-4">
  <div class="row">
    <div class="col-6 mb-3">
      <!-- <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btnGravar" id="btnMatricula" >Gravar</a> -->
      <button type="submit" class="btn btn-primary btn-lg btn-block btnGravar" id="btnMatricula" >Salvar</button>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-danger btn-lg btn-block" type="reset">Cancelar</button>
    </div>
  </div>
</form>

<% include ./share/footer.ejs %>