<% include ./share/header.ejs %>
<div class="row">
  <div class="col-md-2 mb-md-3">
    <div class="py-2 text-center">
      <a class="btn btn-outline-primary btn-lg btn-block" href="/usuarios-list"><i class="fas fa-arrow-left"></i></a>
    </div>
  </div>
  <div class="col-md-8 mb-md-3">
    <div class="py-2 text-center">
      <h2>Novo Usuário</h2>
      <!-- <p class="lead">Below is an example.</p> -->
    </div>
  </div>
</div>
<% include ./share/msg.ejs %>
<form class="needs-validation" novalidate method="POST" action="/usuarios">
  <div class="row">
    <input type="text" class="form-control" name="membroId" id="membroId" value="<%=usuario.membroId%>" readonly hidden>      
    <input type="text" class="form-control" name="id" id="id" value="<%=usuario.id%>" readonly hidden>      
    <div class="col-md-4 mb-3">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" name="nome" id="nome" value="<%=usuario.nome%>" readonly>      
      <div class="invalid-feedback">
        Escolha o membro.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="id_tipo_membro">Tipo de Usuário:</label>
      <select class="custom-select d-block w-100" name="id_tipo_membro" id="id_tipo_membro" required>
        <option value="">Escolha uma opção...</option>
        <option value="1" <%= usuario.id_tipo_membro == '1' ? 'selected' : '' %>>Administrador</option>
        <option value="2" <%= usuario.id_tipo_membro == '2' ? 'selected' : '' %>>Professor EBD</option>
        <option value="3" <%= usuario.id_tipo_membro == '3' ? 'selected' : '' %>>Professor GF</option>
        <option value="99" <%= usuario.id_tipo_membro == '99' ? 'selected' : '' %>>Membro</option>
      </select>
      <div class="invalid-feedback">
        Escolha o tipo de usuário.
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="password">Senha:</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Informe a nova senha" required>    
      <div class="invalid-feedback">
        Informe a senha.
      </div>
    </div>
  </div>
  <hr class="mb-4">
  <div class="row">
    <div class="col-6 mb-3">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Salvar</button>
    </div>
    <div class="col-6 mb-3">
      <button class="btn btn-danger btn-lg btn-block" type="reset">Cancelar</button>
    </div>
  </div>
</form>
<% include ./share/footer.ejs %>